In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('data.db')

In [3]:
cursor = conn.cursor()

In [51]:
conn.close()

In [48]:
conn = sqlite3.connect('data.db')
cursor = conn.cursor()
cursor.execute("""SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;""")
cursor.fetchall()

[('sqlite_sequence',), ('users',)]

In [32]:
conn = sqlite3.connect('data.db')
cursor = conn.cursor()
cursor.execute("""SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;""")
tables = cursor.fetchall()

if ('users',) not in tables:
    cmd = """
    CREATE TABLE users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name VARCHAR,
            telegram_id VARCHAR NOT NULL,
            notifications VARCHAR NOT NULL
    );
    """
    cursor.execute(cmd)
    conn.commit()

In [49]:
cmd = "DROP TABLE users;"
cursor.execute(cmd)

In [19]:
cmd = f"""INSERT INTO users (telegram_id) VALUES ('teste')"""
cursor.execute(cmd)

In [22]:
cmd = f"""SELECT * FROM users"""
cursor.execute(cmd)

In [23]:
cursor.fetchall()

[(1, None, 'teste', None)]

In [25]:
cmd = f"""DELETE FROM users WHERE id = 1"""
cursor.execute(cmd)
conn.commit()

In [14]:
cursor.execute("""SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;""")
tables = cursor.fetchall()

In [50]:
conn.commit()

In [42]:
def teste():
    global y
    y = 3
    
def teste2():
    print(y)
    
teste()
print(y)
teste2()

3
3

In [43]:
param_dict = {
    'id': '1'
}

In [45]:
conn = sqlite3.connect('data.db')
cursor = conn.cursor()
cmd = f"""SELECT * FROM users WHERE"""
for i, col in enumerate(param_dict.keys()):
    print(col)
    cmd += f""" {col} = '{param_dict[col]}'"""
    if i > 0:
        cmd += ','
cursor.execute(cmd)
r = cursor.fetchall()
conn.close()
return r

id

OperationalError: unrecognized token: "{"